$color--primary: #380F00;
$color--secondary: #FFBA00;
$color--ternary: #FF8900;
$color--info: #fff;

// z-index

$z-panel: 10;
$z-list: 20;
$z-lyric: 5;

// text shadow
$text-shadow: 0px 2px 2px #00000072;
