@import './_reset.scss';
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$start-btn: 110px;
$control-btn: 80px;
$mode-btn: 30px;

$menu-btn--large: 75px;
$menu-btn: 30px;


.l-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  .container__bg {
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(10px);
    opacity: 0.8;
  }

}

// control panel

.c-panel {
  position: absolute;
  left: 0;
  top: 75%;
  width: 100%;
  z-index: $z-panel;
  .background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 900px;
    width: calc(150%);
    height: 300vw;
    background: $color--primary;
    z-index: -1;
  }
  .l-panel__btn-group {
    width: 100%;
    position: absolute;

  }

  .group--upper {
    height: $start-btn;
    top: -($start-btn / 2);
    .c-btn {
      position: absolute;
      transform: translateX(-50%);
      border-radius: 50%;
      border: 8px solid $color--primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .btn--start {
    left: 50%;
    height: $start-btn;
    width: $start-btn;
    background: $color--secondary;
    img {
      width: 40px;
      height: 50px;
    }
  }
  .btn--prev,
  .btn--next {
    height: $control-btn;
    width: $control-btn;
    top: 45%;
    background: $color--ternary;
  }
  .btn--prev {
    left: 20%;
  }
  .btn--next {
    left: 80%;
  }

  .group--center {
    top: 80px;
    height: $mode-btn;
    display:flex;
    justify-content: center;
    .c-btn {
      height: $mode-btn;
      background-color: transparent;
      border: none; 
      width: $mode-btn;
      margin: 0 27px;
      padding: 0;
      position: relative;
    }
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    // status control
    .img--active {
      opacity: 0;
    }
    .c-btn.is--current {
      .img {
        opacity: 0;
      }
      .img--active {
        opacity: 1;
      }
    }

    .c-btn[data-action="random"] {
      height: 26px;
    }
  }


}

.c-progress {
  position: absolute;
  width: 100vw;
  height: 4px;
  background-color: #fff;
  top: 135px;
  left: 0;

  .progress__bar {
    position: absolute;
    width: calc(100% - 6px);
    left: 0;
    height: 100%;
    background-color: $color--secondary;
  }
  .progress__point {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $color--secondary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
  }

}


.l-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $menu-btn--large;
  display: flex;
  align-items: center;
  z-index: $z-panel;
  .c-hamburger {
    height: $menu-btn--large*2;
    width: $menu-btn--large*2;
    background-color: $color--primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -$menu-btn--large;
    left: -$menu-btn--large;
    img {
      position: absolute;
      right: 22%;
      bottom: 22%;
    }
  }
  .l-right {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
  }
  .c-btn {
    margin: 0 10px;
  }
}

.page {
  width: 100vw;
  height: 100vh;
}

// player info
.page--player {
  width: 100vw;
  height: 100vh;
  position: relative;
  .player__ui {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ui__art {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid #fff;
  }
  .ui__info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-shadow: $text-shadow;
  }
  .info__title {
    font-size: 25px;
    height: 29px;
    line-height: 29px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
  }
  .info__text {
    font-size: 20px;
    height: 35px;
    line-height: 35px;
  }
}

// track list
.page--list {
  z-index: $z-list;
  position: absolute;
  left: 0;
  top: 0;
  background: transparentize($color--primary, 0.1);
  display: none;

  .page__nav {
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  .nav__btn {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    img {
      height: 25px;
      width: 25px;
    }

  }
  .l-list {
    padding: 0 30px;
  }
  .list__item {
    display: flex;
    color: #fff;
    padding: 10px 0;

    &.is--current {
      color: $color--secondary;
    }
  }
  .item__content {
    display: flex;
    flex-direction: column;
    width: 85%;
    overflow: hidden;

    h3 {
      font-size: 25px;
      margin-bottom: 7px;
    }
  }


  .item__btn {
    width: 15%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
  }
}

// lyric page
.page--lyric {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  .l-container {
    width: 354px;
    text-align: center;
    color: #fff;
    text-shadow: $text-shadow;
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 10px;

    &.is--current {
      color: $color--secondary;
    }
  }
}

// status control

.current--player {
  .page--player {
    display: flex;
  }
  .page--list {
    display: none;
  }
  .page--lyric {
    display: none;
  }
}

.current--list {
  .page--player {
    display: block;
  }
  .page--list {
    display: block;
  }
  .page--lyric {
    display: none;
  }
}

.current--lyric {
  .page--player {
    display: none;
  }
  .page--list {
    display: none;
  }
  .page--lyric {
    display: flex;
  }
}

  


